<div class="container">
  <div class="alert alert-danger alert-dismissible fade" role="alert">
    <span id="alert-message">You should check in on some of those fields below.</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span id="name_stgo"><%= "#{@santiago[0]['name']} (#{@santiago[0]['short_name']})" %></span><br>
    </div>
    <div class="col-sm-6 col-xs-12">
      <h5 id="date_stgo" class="main-date"><%= @santiago[0]['current_date'] %></h5>
      <div class="text-center">
        <span id="time_stgo" class="main-time"><%= @santiago[0]['current_time'] %></span>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 text-center">
      <h5>Temperature</h5>
      <span id="weather_stgo" class="main-weather"><%= @santiago[0]['current_weather'] %>ºC</span>
    </div>
  </div>
  <div class="cities justify-content-center">
    <table class="table">
      <tbody>
        <% @cities.each do |city| %>
          <tr>
            <td><%= city['name'] %> (<%= city['short_name'] %>)</td>
            <td id="city_date_<%= city['id'] %>"><%= city['current_date'] %></td>
            <td id="city_time_<%= city['id'] %>"><%= city['current_time'] %></td>
          </tr>
        <% end %>
      </tbody>
    </div>
  </div>
</div>